@media (max-width: 500px) {
  body {
    font-size: 3vw;
  }
  .profile-photo {
    width: 250px !important;
    height: 250px !important;
  }
  .black-section {
    margin-right: 0 !important;
  }
  .header-square::before {
    height: 0 !important;
  }
  .header-vertical-line::before {
    height: 0 !important;
  }
  .header-horizontal-line::after {
    height: 0 !important;
  }
  .reference-vertical-line::before {
    height: 0 !important;
  }
}

.relative {
  position: relative;
}

.profile-photo {
  width: 400px;
  height: 400px;
}

.name-title {
  font-size: 7em;
  letter-spacing: 6px;
}

.text-under-title {
  font-size: 2.5em;
  letter-spacing: 3px;
}

.black-section {
  background-color: #000;
  color: #fff;
  padding: 15px;
  margin-right: -12px;
}

.black-section-text {
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.my-text {
  h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-top: 50px;
  }

  p {
    font-size: 1.5em;
    font-family: 'And', sans-serif;
    padding: 15px;
  }
}

.bg {
  background-color: #ebebeb;
  flex-grow: 1;
}

.my-list {
  list-style-type: square;
  line-height: 250%;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

.header-square::before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 250px;
  left: 94.5%;
  z-index: -1;
}

.header-horizontal-line::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #ebebeb;
  position: absolute;
  top: 270px;
  left: 2%;
  z-index: -2;
}

.header-vertical-line::before {
  content: "";
  width: 1px;
  border-left: 5px solid #ebebeb;
  position: absolute;
  z-index: -2;
  top: -15%;
  bottom: 0;
  left: 96%;
}
.reference-vertical-line::before {
  content: "";
  width: 1px;
  border-left: 4px solid #7e6e6e;
  position: absolute;
  z-index: -2;
  top: 10%;
  bottom: 25%;
  left: 45%;
}