$main-color: #ebebeb;
@mixin text_font {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 500px) {
  body {
    font-size: 3vw;
  }
  .profile-photo {
    width: 250px !important;
    height: 250px !important;
  }
  .black-section {
    margin-right: 0 !important;
  }
  .header-square::before {
    height: 0 !important;
  }
  .header-vertical-line::before {
    height: 0 !important;
  }
  .header-horizontal-line::after {
    height: 0 !important;
  }
  .reference-vertical-line::before {
    height: 0 !important;
  }
}

.relative {
  position: relative;
}

.profile-photo {
  width: 400px;
  height: 400px;
}

.name-title {
  font-size: 7em;
  letter-spacing: 6px;
}

.text-under-title {
  font-size: 2.5em;
  letter-spacing: 3px;
}

.black-section {
  background-color: #000;
  color: #fff;
  padding: 15px;
  margin-right: -12px;
}

.black-section-text {
  font-weight: lighter;
  @include text_font;
  letter-spacing: 1px;
}

.my-text {
  h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-top: 50px;
  }

  p {
    @include text_font;
    font-size: 1.5em;
    padding: 15px 0 15px 0.2em;
  }
}

.main-section-margin {
  h1 {
    margin-left: 0.8em;
  }

  p {
    margin-left: 1.2em;
  }
}

.side-bar {
  p {
    margin-left: 0.6em;
  }
}

.bg {
  background-color: $main-color;
  flex-grow: 1;
}

.my-list {
  list-style-type: square;
  line-height: 250%;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1.2px;
  margin-left: 0.3em;
}

.header-square::before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 250px;
  left: 94.5%;
  z-index: -1;
}

.header-horizontal-line::after {
  content: "";
  height: 5px;
  width: 97%;
  background-color: $main-color;
  position: absolute;
  top: 270px;
  left: 3%;
  z-index: -2;
}

.header-vertical-line::before {
  content: "";
  width: 1px;
  border-left: 5px solid $main-color;
  position: absolute;
  z-index: -2;
  top: -15%;
  bottom: 0;
  left: 96%;
}

.reference-vertical-line::before {
  content: "";
  width: 1px;
  border-left: 4px solid gray;
  position: absolute;
  z-index: -2;
  top: 10%;
  bottom: 25%;
  left: 0;
}

.btn {
  margin-left: 2% !important;
}

.btn:hover {
  background-color: $main-color;
  border-color: gray;
}

.content {
  display: block;
  // UNCOMMENT FOR PLAIN JS ANIMATION //
  //overflow: hidden;
  //max-height: 0;
  //transition: max-height 0.4s ease-out;
}

#data-container {
  @include text_font;
}